<div class="drawer-side">
  <label for="drawer-menu" class="drawer-overlay"></label>
  <ul class="menu p-4 w-80 bg-base-100">
    <li><%= link_to "利用規約", terms_of_service_path %></li>
    <li><%= link_to "プライバシーポリシー", privacy_path %></li>
  </ul>