<div class="drawer-side">
  <label for="drawer-menu" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 bg-base-100">
      <li><%= link_to "薬一覧", user_medicines_path %></li>
      <li><%= link_to "病院一覧", hospital_index_path %></li>
      <li><%= link_to "アカウント", edit_user_registration_path %></li>
    </ul>
</div>
