<div class="drawer-side">
  <label for="drawer-menu" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 bg-base-100">
      <li><%= link_to '登録薬一覧', "#" %></li>
      <li><%= link_to '残薬一覧', "#" %></li>
    </ul>
</div>
