<div class="modal modal-open">
  <div class="modal-box">
    <h3 class="font-bold text-lg">
      <%= @date %> の在庫予定
    </h3>
    <% if @date < Date.current %>
      <p class="text-gray-500">
        今日より前の日付の在庫は表示できません。
      </p>
    <% elsif @medicines_with_stock.any? %>
      <% @medicines_with_stock.each do |medicine| %>
        <p>
          <%= medicine.medicine.name %>：
          残り<%= medicine.stock_on(@date) %> 錠
        </p>
      <% end %>
    <% else %>
      <p class="text-gray-500">
        この日は在庫がありません
      </p>
    <% end %>

    <div class="modal-action">
      <%= link_to "閉じる",
            home_path,
            class: "btn" %>
    </div>
  </div>
</div>
