<div class="max-w-2xl mx-auto mb-8">
<!-- 病院一覧へのボタン-->
  <div class="flex mt-2 mb-2">
    <%= link_to hospitals_path, class: "text-gray-800 hover:text-red-500 inline-flex items-center gap-2 transition-colors duration-200" do %>
      <i class="fa-solid fa-arrow-left fa-sm"></i>
      <span>病院一覧へ</span>
    <% end %>
  </div>
  <h1 class="text-3xl mb-4 mt-6 flex items-center justify-center gap-2" style="font-family: 'M PLUS Rounded 1c', sans-serif; font-weight: 500;">
    <%= render "shared/icon_hospital" %>
    <span>病院情報編集</span>
  </h1>
  <%= render "form", hospital: @hospital %>
</div>