<div class="bg-white rounded-lg shadow mb-6">
  <%if @user_medicine.any? %>
    <% @user_medicine.each do |user_medicine| %>
      <div class="flex items-center justify-between p-4 border-b hover:bg-gray-50 mb-4">
        <div>
          <h3 class="font-semibold text-lg"><%= user_medicine.medicine_name %></h3>
          <p class="text-gray-600">1回の服薬量：<%= user_medicine.dosage_per_time %>錠</p>
        </div>
        <%= link_to "詳細",
            user_medicine_path(user_medicine),
            class: "px-4 py-2 btn btn-primary" %>
      </div>
    <% end %>
  <% else %>
    <p class="text-center py-8">現在、薬はありません</p>
  <% end %>
</div>
