<div class="card w-11/12 max-w-sm bg-base-100 rounded-xl p-6">
<div class="card w-11/12 max-w-sm bg-base-200 rounded-xl p-6">
<button class="btn btn-primary">primary</button>
<button class="btn btn-secondary">secondary</button>
<button class="btn btn-accent">accent</button>
<button class="btn btn-neutral">neutral</button>
<button class="btn btn-info">info</button>
<button class="btn btn-success">success</button>
<button class="btn btn-warning">warning</button>
<button class="btn btn-error">error</button>

</div>
</div>