/*
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 .simple-calendar {
  table {
    background-color: #FFFFFF;
    border-collapse: separate;
    border-radius: 16px; /* 角を丸くする */
    overflow: hidden; /* 角の丸みを子要素にも適用 */
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    border: none; /* 外側の枠線を削除 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  tr {
    border-collapse: collapse;
  }

  th {
    background-color: #F3F4F6;
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    text-align: left;
  }

  td {
    padding: 2px;
    vertical-align: top;
    width: 14%;
  }

  .today {
    background: #FDEDE9
  }
  .prev-month {
    background: #FFFFFF;
  }
  .next-month {
    background: #FFFFFF;
  }
}