<div class="container mx-auto px-4 py-8">
   <h1 class="font-bold text-4xl flex justify-center mb-4">登録薬編集</h1>

   <%= render "form", user_medicine: @user_medicine do |form| %>
     <div class="inline">
       <%= form.submit "変更を保存", class: "btn btn-primary w-full" %>
     </div>
   <% end %>

   <div class="flex justify-center mt-4">
     <%= link_to "登録薬一覧", registered_medicines_path, class: "btn bg-white text-[#E56A54] border border-[#E56A54] hover:bg-[#FFE4DF] max-w-xs" %>
   </div>