<div class="container">
  <h1 class="font-bold text-4xl flex justify-center">登録薬一覧</h1>

  <% if @user_medicines.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>薬名</th>
          <th>1回の服用量</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user_medicines.each do |medicine| %>
          <tr>
            <td><%= medicine.medicine_name %></td>
            <td><%= medicine.dosage_per_time %></td>
            <td>
              <%= link_to "選択", registered_medicine_path(medicine), class: "btn btn-sm btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>まだ薬が登録されていません。</p>
  <% end %>

  <div class="flex justify-center mt-4">
    <%= link_to "新しい薬を登録", new_registered_medicine_path, class: "btn bg-white text-[#E56A54] border border-[#E56A54] hover:bg-[#FFE4DF] max-w-xs" %>
  </div>

</div>