<div class="container mx-auto px-4 py-8">
   <h1 class="font-bold text-4xl flex justify-center mb-4">登録薬詳細</h1>

  <%= render @user_medicine %>

  <%= link_to "編集", edit_registered_medicine_path(@user_medicine), class: "btn btn btn-success w-full" %>
  <div class="flex justify-center mt-4">
    <%= link_to "登録薬一覧", registered_medicines_path, class: "btn bg-white text-[#E56A54] border border-[#E56A54] hover:bg-[#FFE4DF] max-w-xs mb-8" %>
  </div>
  <div class="actions text-center">
    <%= link_to "削除", registered_medicine_path(@user_medicine), 
              data: { 
                turbo_method: :delete, 
                turbo_confirm: "「#{@user_medicine.medicine_name}」を削除してもよろしいですか?\n在庫データも削除されます。" 
              }, 
              class: "btn btn-sm btn-error" %>
  </div>
</div>
